/**
 * Tweak redaxo skin to keep structure table aligned
 */
@media (min-width: 768px) and (max-width: 991px) {
    .table th.rex-table-icon,
    .table td.rex-table-icon  {
        width: 40px;
        text-align: center;
    }
    .table th.rex-table-id,
    .table td.rex-table-id,
    .table th.rex-table-priority,
    .table td.rex-table-priority {
        width: 60px;
        text-align: center;
    }
    .table th.rex-table-number,
    .table td.rex-table-number {
        width: 100px;
        text-align: center;
    }
    .table th.rex-table-slimmer,
    .table td.rex-table-slimmer {
        width: 80px;
    }
    .table th.rex-table-slim,
    .table td.rex-table-slim,
    .table th.rex-table-thumbnail,
    .table td.rex-table-thumbnail {
        width:120px;
    }
    .table th.rex-table-action:not([colspan]),
    .table td.rex-table-action:not([colspan]) {
        width: 120px;
    }
    .table th.rex-table-action > *,
    .table td.rex-table-action > * {
        white-space: nowrap;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .table th.rex-table-action:not([colspan]),
    .table td.rex-table-action:not([colspan]) {
        width: 120px;
    }
}
