.rex-main-sidebar {
    opacity: 1 !important;
& > section:first-child {
        display: none;
    }
}
.rex-form-group:not(.rex-form-group-vertical),
.dl-horizontal {
& > dt,
& > dd,
& > dd:first-child {
        margin: 0;
        padding: 0;
        float: none;
        display: block !important;
        width: 100% !important;
        text-align: left !important;
    }
}
