/**
 * Move metainfo
 */
.rex-main-sidebar > section:first-child {
    display: none;
}
.moved-metainfo .rex-form-group:not(.rex-form-group-vertical) > dt,
.moved-metainfo .rex-form-group:not(.rex-form-group-vertical) > dd,
.moved-metainfo .rex-form-group:not(.rex-form-group-vertical) > dd:first-child,
.moved-metainfo .dl-horizontal > dt,
.moved-metainfo .dl-horizontal > dd,
.moved-metainfo .dl-horizontal > dd:first-child {
    margin: 0;
    padding: 0;
    float: none;
    display: block !important;
    width: 100% !important;
    text-align: left !important;
}

/**
 * Hide Startarticle
 */
.rex-startarticle.is-hidden {
    display: none !important;
}

/**
 * Hide category status
 */
/*.structure-tweaks-container .structure-tweaks-meta a,*/
/*.structure-tweaks-container .structure-tweaks-delete a,*/
.structure-tweaks-container .structure-tweaks-status a {
    display: none !important;
}

/**
 * Category splitter
 */
.structure-tweaks-splitter,
.structure-tweaks-splitter:focus,
.structure-tweaks-splitter:active,
.structure-tweaks-splitter:hover {
    color: #324050;
    font-weight: bold;
    background-color: #F3F6FB !important;
    border-color: #F3F6FB !important;;
}
