/**
 * Move metainfo
 */
.moved-metainfo .rex-form-group:not(.rex-form-group-vertical) > dt,
.moved-metainfo .rex-form-group:not(.rex-form-group-vertical) > dd,
.moved-metainfo .rex-form-group:not(.rex-form-group-vertical) > dd:first-child,
.moved-metainfo .dl-horizontal > dt,
.moved-metainfo .dl-horizontal > dd,
.moved-metainfo .dl-horizontal > dd:first-child {
    margin: 0;
    padding: 0;
    float: none;
    display: block !important;
    width: 100% !important;
    text-align: left !important;
}

/**
 * Hide Startarticle
 */
.rex-startarticle.is-hidden {
    display: none !important;
}
/**
 * Hide Categories
 */
.structure-tweaks-category.is-hidden {
    display: none !important;
}

/**
 * Hide category status
 */
.structure-tweak-functions-all {
    display: none !important;
}

/**
 * Category splitter
 */
.structure-tweaks-splitter,
.structure-tweaks-splitter:focus,
.structure-tweaks-splitter:active,
.structure-tweaks-splitter:hover {
    color: #324050;
    font-weight: bold;
    background-color: #F3F6FB !important;
    border-color: #F3F6FB !important;;
}
@media (prefers-color-scheme: dark) {
    body.rex-has-theme:not(.rex-theme-light) .structure-tweaks-splitter,
    body.rex-has-theme:not(.rex-theme-light) .structure-tweaks-splitter:focus,
    body.rex-has-theme:not(.rex-theme-light) .structure-tweaks-splitter:active,
    body.rex-has-theme:not(.rex-theme-light) .structure-tweaks-splitter:hover {
        color: rgba(255, 255, 255, 0.75);
        font-weight: bold;
        background-color: #1b232c !important;
        border-color: #1b232c !important;;
    }
}
